.home{
    background-image: url(../assets/82830200-food-ingredients-and-spices-for-cooking-mushrooms-tomatoes-cheese-onion-oil-pepper-salt-basil-olive-.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.deliveryYes, .deliveryNo, #checkout, #checkoutOne, #checkoutAlert, #checkoutOne{
    display: none;
}

#displayOrder {
    display: none;
}

.social {
    margin-bottom: 20px;
}

.social a{
    margin-left: 5%;
    margin-right: 5%;
}