.home{
    background-image: url(../assets/82830200-food-ingredients-and-spices-for-cooking-mushrooms-tomatoes-cheese-onion-oil-pepper-salt-basil-olive-.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.deliveryYes, .deliveryNo, #checkout, #checkoutOne, #checkoutAlert, #checkoutOne{
    display: none;
}

#displayOrder {
    display: none;
}

.selectpicker, #quantities {
    padding: 8px;
    width: 80%;
    border-radius: 5px;
    background-color: transparent;
}

.selectpicker1 {
    padding: 8px;
    width: 30%;
    border-radius: 5px;
    background-color: transparent;
}

#submitOrder, #location {
    width: 30%;
}

.table {
    display: inline;
}

.social {
    margin-bottom: 20px;
}

.social a{
    margin-left: 5%;
    margin-right: 5%;
}

.yummy {
    padding: 10%;
}

.yummy p {
    font-style: italic;
    font-size: 3em;
    color: rgb(255, 0, 98);
}

#checkoutAlert, #checkoutOne {
    text-align: left;
    width: 70%;
    margin: auto;
}

.footer {
    background-color: rgb(59, 55, 55);
    padding: 20px;
    color: wheat;
}