.home{
    background-image: url(../assets/82830200-food-ingredients-and-spices-for-cooking-mushrooms-tomatoes-cheese-onion-oil-pepper-salt-basil-olive-.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.deliveryYes, .deliveryNo, #checkout{
    display: none;
}

#displayOrder {
    display: none;
}